{% extends 'layout.html' %}

{% block main %}
	<div class="a-userNav">
		<span><a href="/">管理首页</a></span>
		<span> / </span>
		<span>内容添加</span>
	</div>
	<form style="padding-left: 50px;margin-top: 20px;" method="post">
		<div>
			<label for="category">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类:</label>
			<select name="category" id="category" style="width: 200px;">
				{% for category in categories %}
				<option value="{{category.id}}">{{category.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label for="title">内容标题:</label>
			<input type="text" name="title" id="title" style="width: 200px;">
		</div>
		<div>
			<label for="desciption">简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介:</label>
			<input type="desciption" name="desciption" id="desciption" style="width: 200px;">
		</div>
		<div>
			<label for="content" style="vertical-align: top;">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容:</label>
			<textarea type="content" name="content" id="content" style="width: 200px;" rows="4"></textarea>
		</div>
		<button type="submit">提交</button>
	</form>
{% endblock %}