{% extends 'layout.html' %}

{% block main %}
	<div class="a-userNav">
		<span><a href="/">管理首页</a></span>
		<span> / </span>
		<span>用户列表</span>
	</div>
	<table class="a-userTable">
	<thead>
		<tr>
			<th>ID</th>
			<th>用户名</th>
			<th>密码</th>
			<th>是否是管理员</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{user._id.toString()}}</td>
			<td>{{user.username}}</td>
			<td>{{user.password}}</td>
			<td>
				{% if user.isAdmin %}
				是
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% include 'page.html' %}
{% endblock %}