html,body {
	margin: 0;
	padding: 0;
}
ul.a-header {
	 background-color: #291b1b38;
    margin-top: 0;
    height: 56px;
    line-height: 56px;
}
.a-header > li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}
li.a-item {
	
    font-size: 20px;
}
li.a-user {
	float: right;
    line-height: 56px;
}
li.a-user > span {
	display: inline-block;
	padding-left: 5px;
}
.a-body {
	width: 100%;
}
.a-userNav {
	padding-left: 50px;
}
.a-userTable {
	    width: 100%;
    text-indent: 50px;
    margin-top: 20px;
}
.a-userTable th,
.a-userTable td {
	margin-right: -2px;
	border: 1px solid #000;
	text-align: center;
}
.a-page {
	margin-top: 10px;
    text-align: right;
    margin-right: 10px;
}
.a-pageInfo {
	    margin-left: 10px;
    margin-right: 10px;
}