{% extends 'layout.html' %} {% block content %}
<div class="cont">
    <ul>
        {% for content in contents %}
        <li>
            <h2>{{content.title}}</h2>
            <div>
                <span>
								<span>作者：</span><a href="">{{content.user.username}}</a>
                </span>
                <span>
								<span>时间：</span><a href="">{{content.addTime|date('Y-m-d H:i:s',-8*60)}}</a>
                </span>
                <span>
								<span>阅读：</span><a href="">{{content.views}}</a>
                </span>
                <span>
								<span>评论：</span><a href="">{{content.comments.length}}</a>
                </span>
            </div>
            <div class="keyWords">
                {{content.desciption}}
            </div>
            <div class="readAll">
                <button>
                    <a href="/view?contentid={{content.id}}">阅读全文</a>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="a-page">
        <span>
						{% if  page <= 1 %}
							<span>没有上一页</span> {% else %}
        <a href="?page={{page-1}}&category={{category}}">上一页</a> {% endif %}
        </span>
        {% if pages > 0 %}
        <span class="a-pageInfo">
							{{page}}/{{pages}}
						</span> {% endif %}
        <span>
						{% if  page >= pages %}
							<span>没有下一页</span> {% else %}
        <a href="?page={{page+1}}&category={{category}}">下一页</a> {% endif %}
        </span>
    </div>
</div>
{% endblock %}